<% layout('Layouts/BiolerPlate') %>

<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds"
      method="POST"
      novalidate
      class="formValidated"
      enctype="multipart/form-data"
    >
      <div>
        <label class="form-label" for="title">Title</label>
        <input
          required
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div>
        <label class="form-label" for="location">location</label>
        <input
          required
          class="form-control mb-3"
          type="text"
          id="location"
          name="campground[location]"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div>
        <label class="form-label" for="image">Image URL</label>
        <input
          required
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="prices">Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input
            required
            id="price"
            type="text"
            class="form-control"
            placeholder="0"
            aria-label="price"
            aria-describedby="basic-addon1"
            name="campground[price]"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <div>
        <label class="form-label" for="description">description</label>
        <textarea
          required
          class="form-control mb-2"
          id="description"
          name="campground[description]"
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success">Add Campground</button>
      <p><a href="/campgrounds">All Campgrounds</a></p>
    </form>
  </div>
</div>

<script>
  (function () {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll(".formValidated");

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
  Browse;
</script>
